@media (min-width: 768px) {
  .base-container{
    display: flex;
    width: 100%;
  }
  
  .side-navigation{
    width: 200px;
    position: fixed;
  }
  
  .side-content{
    width: calc(100% - 200px);
    right: 0;
    position: absolute;
  }
}

